@model EStore.Models.ProductViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row mt-2">
    <div class="col">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Products</a></li>
            <li class="breadcrumb-item">
                <a asp-controller="Product" asp-action="Index" asp-route-category="@(Model.Product.CategoryId)">@Model.Product.Category.Name</a>
            </li>
            <li class="breadcrumb-item active">@Model.Product.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-xs-12 mb-4">
        @await Html.PartialAsync("_CartPartial")
    </div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">@Model.Product.Name <span class="badge badge-default">@Model.Product.Price kr</span></h3>
            @if (!string.IsNullOrEmpty(Model.Product.Image))
            {
                <img class="card-img-top" src="@Model.Product.Image" alt="Card image cap">
            }
            <div class="card-block">
                <p class="card-text">@Model.Product.Description</p>
            </div>
            <div class="card-footer text-muted">
                <a href="@Url.Action("AddToCart", "Cart", new { id = Model.Product.Id })" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
</div>
