@model EStore.Models.ProductViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row mt-2">
    <div class="col">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Products</a></li>
            @if (Model.CategoryId > 0 && Model.Categories.Any(c => c.Id == Model.CategoryId))
            {
                var catName = Model.Categories.FirstOrDefault(c => c.Id == Model.CategoryId).Name;
                <li class="breadcrumb-item">
                    @if (string.IsNullOrEmpty(Model.Query))
                    {
                        @catName
                    }
                    else
                    {
                        @Html.ActionLink(catName, "Index", "Product", new { category = Model.CategoryId }, null)
                    }
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Query))
            {
                <li class="breadcrumb-item active">@Model.Query</li>
            }
        </ol>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-lg-6">
        
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-xs-12 mb-4">

        @await Html.PartialAsync("_CartPartial")

        <div class="card">
            <div class="card-header">
                Categories
            </div>
            <div class="list-group">
                @Html.ActionLink("All", "Index", "Product", new { category = 0, q = Model.Query }, new { @class = $"list-group-item{(Model.CategoryId == 0 ? " active" : "")}" })
                @foreach (var category in Model.Categories)
                {
                    @Html.ActionLink(category.Name, "Index", "Product", new { category = category.Id, q = Model.Query }, new { @class = $"list-group-item{(Model.CategoryId == category.Id ? " active" : "")}" });
                }
            </div>
        </div>
    </div>
    <div class="col">
        <form asp-controller="Product" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="mb-4">
            <input type="hidden" name="category" value="@Model.CategoryId">
            <div class="form-group row mb-0">
                <div class="col">
                    <input type="text" name="q" class="form-control" id="search_text" placeholder="Search" value="@Model.Query">
                </div>
                <div class="col-auto mr-3">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Query))
            {
                <small>Search results for "<b>@Model.Query</b>"</small>
            }
        </form>
        <div class="products">
            @foreach (var product in Model.Products)
            {
                <div class="card mb-2">
                    <div class="card-block">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Description</p>
                        <a href="@Url.Action("AddToCart", "Cart", new { id = product.Id })" class="btn btn-primary">Add To Cart (@product.Price kr)</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-auto">
        
    </div>
</div>